* {
  box-sizing: border-box;
  padding: 0;
}

.header {
  background-color: black;
  text-align: center;
}

.header__title {
  color: white;
}

.article-area {
  display: flex;
  flex-direction: column;
}

.article-area__item {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}
